.header{
    text-align: center;
}

.text-color-1{
    color: red;
    font-size  : 50px;
}


.text-color-2{
    color: gray;
    font-size  : 50px;
}

.text-color-3{
    color: rgba(122, 23, 23, 0.582);
    font-size  : 50px;
}

.site-detail-text-color{
    color: gray;

}