/* Youtuber card style */
.youtuber{
    text-align: center;
    background-color: #c6d8dda1;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.25);
}

/* Youtuber card hover style */
.youtuber:hover{
    transform: scale(1.05);
    transition: ease-in   0.5s;
    transition: ease-out  0.5s;
}

/* Youtuber card image style */
.youtuber img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.25);
}

/* youtuber card button style */
.youtuber button {
    width: 200px;
    background-color: #45a369;
    font-size: 16px;
    line-height: 30px;
    font-weight: bolder;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.25);
}


/* Fontawesome Style */
.fa-facebook-square{
    font-size:50px;
    color: 	#1298f6;
    filter: drop-shadow(0px 1px 2px #575757);
    cursor: pointer;
}


.fa-twitter-square{
    margin-left:30px;
    font-size:50px;
    color: #5da9dd;
    filter: drop-shadow(0px 1px 2px #575757);
    cursor: pointer;
}